@import "../styles/globals.css";

@layer base {
  :root {
    font-family: "Berkeley Mono", "SF Mono", "Fira Code", "JetBrains Mono", ui-monospace, monospace;
    font-size: 14px;
  }

  body {
    @apply min-w-[320px] min-h-screen m-0 bg-background text-foreground;
  }
}
